body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background:url('paper.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  h2 {
    text-align: center;
  }
  
  section {
    margin: 20px auto;
    text-align: center;
  }
  
  .color-div {
    height: 60px;
    background-color: green;
  }
  
  video {
    width: 60%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }